#html, body{
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
}


#body{
    background-color: white;

}




 .first{
float:left;
width: 50%;
height:100%;
}


 .second{
transform: rotate(45deg);
float:left;
width: 35%;
height:65%;
padding: 10px;
margin-top: 100px;
margin-bottom: 15px;
margin-right: 15px;
margin-left: 15px;

}

.image1{


margin: 10px;
float:left;
width: 45%;
height: 45%;

}

.collored{
margin: 10px;
display:inline-block;


background-color:#5dd5d5;
width: 45%;
height: 45%;

}
.image2{

margin: 10px;
margin-right: 20px;
float:right;

width: 45%;
height: 45%;

}




img{

width: 210px;
height: 180px;
}


header{
animation-direction:normal;
	text-align:right;
	
	margin-top: 70px;
  	margin-bottom: 70px;
    	margin-right: 300px;
    	margin-left: 0px;

	color:#193367;
	font-size:30px;
	font-familiy:Arial;
	border-bottom: 3px solid #5dd5d5 ;
}


h4{
	text-align:rleft;
	margin-top: 90px;
    	margin-right: 0px;
    	margin-left:200px;

	color:#193367;
	font-size:25px;
	font-familiy:Arial;
	
}

p{
font-size:10px;
padding:10px;
line-height:1.8;
margin-left:200px;
}

#myDIV {
   -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {text-shadow: 10px 20px 30px blue;}
}

/* Standard syntax */
@keyframes mymove {
    50% {text-shadow: 10px 20px 30px blue;}
}


.vertical-menu {
float:right;
    width: 30px;
margin-top: 150px;
margin-right: 10px;
position:fixed-right;
}

.vertical-menu a {
	font-size:30px;
  transition: transform .2s;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
.vertical-menu a:hover {
    color: grey ;
 -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.vertical-menu a.active {
   color: #5dd5d5;
    
}